[report]
exclude_lines =
   NotImplementedError
   logger
   def __repr__
   def __unicode__
   def __str__
   version
   release
   logger.info
   uvicorn
   pass
   ImportError
   self.log
   logger.error
   logger.debug
   except PackageNotFoundError:
   except Exception
omit =
   */asgi.py
   */formparser.py
fail_under = 92
