# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on: push

jobs:
  build:

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install  -e ".[dev]"
        pip install  $(cat docs/requirements.txt)
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        # Output dependency versions
        pip freeze
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --ignore=E501,E701,E126,W504,W292
    - name: Static type checking with mypy
      run: |
        mypy -p basin3d  --python-version ${{ matrix.python-version }}
    - name: Make artifact directory
      run: |
        mkdir -p ${{ github.workspace }}/artifacts
    - name: Test with pytest
      run: |
        PYTHONPATH=. pytest -v -m "not flake8 and not mypy" --cov=basin3d --cov-report term --cov-report html:${{ github.workspace }}/artifacts
    - name: Documentation and Doctests
      run: |
        python setup.py check
        git tag
        cd docs
        PYTHONPATH=.. make doctest linkcheck html

    - name: Archive code coverage results
      uses: actions/upload-artifact@v2
      with:
        name: code-coverage-report
        path: ${{ github.workspace }}/artifacts
